# IGNORE THE OUTPUT DIRECTORIES
*.root
*.pdf
*.so
*.pcm
*.pyc
*.d
*.cxx_tmp_*

TauMu/MC/out/*
TauMu/MC/output/*
TauMu/MC/error/*
TauMu/MC/log/*
TauMu/DATA/out/*
TauMu/DATA/output/*
TauMu/DATA/error/*
TauMu/DATA/log/*

TauMu/Plots/*

EleTau/MC/out/*
EleTau/MC/output/*
EleTau/MC/error/*
EleTau/MC/log/*
EleTau/DATA/out/*
EleTau/DATA/output/*
EleTau/DATA/error/*
EleTau/DATA/log/*

EleTau/Plots/*

MuMu/MC/out/*
MuMu/MC/output/*
MuMu/MC/error/*
MuMu/MC/log/*
MuMu/DATA/out/*
MuMu/DATA/output/*
MuMu/DATA/error/*
MuMu/DATA/log/*

MuMu/Plots/*

Zee/MC/out/*
Zee/MC/output/*
Zee/MC/error/*
Zee/MC/log/*
Zee/DATA/out/*
Zee/DATA/output/*
Zee/DATA/error/*
Zee/DATA/log/*

Zee/Plots/*

WJets/MC/out/*
WJets/MC/output/*
WJets/MC/error/*
WJets/MC/log/*
WJets/DATA/out/*
WJets/DATA/output/*
WJets/DATA/error/*
WJets/DATA/log/*

WJets/Plots/*
